spring:
    application:
        name: uncle-blob-server

    jpa:
        database-platform: org.hibernate.community.dialect.SQLiteDialect
        hibernate.ddl-auto: update

    datasource:
        url: jdbc:sqlite:./db/db.sqlite
        driver-class-name: org.sqlite.JDBC
        username: admin
        password: admin

uncle-blob:
    storage-dir: ${UNCLE_BLOB_STORAGE_DIR:./.storage}

server:
    port: ${PORT:8888}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: false

    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka}
        